$body-font: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$garamond: 'Cormorant Garamond', serif;
$body-fontsize: 14px;
$primary-fontsize: 12px;
$secondry-fontsize: 13px;
$font-normal: normal;
$font-italic: italic;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$black: #000000;
$white: #ffffff;
$body-bg:#eeeeee;
